DataSet_and_Codes/DataSets/NumpyFiles/Mal/Fulldata/Mal_Train_Full_data.npy filter=lfs diff=lfs merge=lfs -text
DataSet_and_Codes/DataSets/NumpyFiles/Tamil/Fulldata/Tamil_Train_Full_data.npy filter=lfs diff=lfs merge=lfs -text
